*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000814;
    text-align: center;
    color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}
.game{
    height: 50vmin;
    width: 70vmin;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height:20vmin;
    width:20vmin;
}
.reset{
    padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;

}